@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
  color: white;
  font-family: "Ubuntu Mono", monospace;
}

input,
input:active,
input:focus {
  outline: none;
  outline-style: none;
  border: 0 none;
  border-color: transparent;
  background-color: transparent;
  color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
}
input[type="text"] {
  font-size: 24px;
}
